/* Encabezado */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(45deg, #D50032, #0075c4);
    padding: 10px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header .logo img {
    width: 120px;
    height: auto;
}



/* Estilos principales */
main {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}


/* Estilo para el perfil de artista */
.artist-profile {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: 20px auto;
}

.artist-profile h2 {
    text-align: center;
    color: #00579B;
    font-size: 2rem;
}

.profile-header {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
}

.profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
}

.profile-info {
    flex: 1;
    margin-left: 20px;
}

.profile-info h3 {
    color: #333;
    font-size: 1.6rem;
}

.profile-info p {
    font-size: 1rem;
    color: #555;
    margin: 5px 0;
}

.artworks {
    margin-top: 20px;
}

.artwork {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}

.artwork img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 15px;
}

.artwork p {
    font-size: 1rem;
    color: #333;
}

.contact-info {
    margin-top: 20px;
}

.contact-info h3 {
    color: #00579B;
    font-size: 1.4rem;
}

.contact-info p {
    font-size: 1rem;
    color: #555;
}

/* Estilo responsivo */
@media (max-width: 768px) {
    .profile-header {
        flex-direction: column;
        text-align: center;
    }

    .profile-image {
        margin-bottom: 15px;
    }

    .profile-info {
        margin-left: 0;
    }

    .artwork {
        flex-direction: column;
        align-items: center;
    }

    .artwork img {
        margin-bottom: 10px;
    }
}
